{% extends 'base.html' %}

{% block content %}

<header class="page-header">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/manage_budget.css') }}">
</header>

<body class="body">
    <div class = "canvas">
        
        <div class="content"> 
            <h1 style="text-decoration: underline; ">Manage Budget</h1>
        </div>

        <div>Total Budget Set For Nov 2021: $1,150</div>
    
        <div class="cornerCanvas">
            <table class="table">
                <div class="chart-title">
                    <h2>Budget Chart</h2>
                    <div class="chart-button">
                      <div>Add Category <strong style="color:tomato; font-size: medium;">&#8853;</strong> </div>
                    </div>
                    <div style="display: inline-block; width: 100%;">
                        <div class="chart-button" style="float: left;">
                            Cancel
                        </div>
                        <div class="chart-button" style="float: right;">
                            Save
                        </div>
                    </div>
                </div>
                <thead>
                  <tr>
                    <th>Category</th>
                    <th style="text-align: center;">Total Budget Set for This Category</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Grocery</td>
                    <td style="text-align: center;">$300.00</td>
                  </tr>
                  <tr>
                    <td>Clothes</td>
                    <td style="text-align: center;">$300.00</td>
                  </tr>
                  <tr>
                    <td>Dining</td>
                    <td style="text-align: center;">$150.00</td>
                  </tr>
                  <tr>
                    <td>Utilities</td>
                    <td style="text-align: center;">$200.00</td>
                  </tr>
                  <tr>
                    <td>Miscellaneous</td>
                    <td style="text-align: center;">$200.00</td>
                  </tr>
                </tbody>
              </table>

        </div>

    </div>
</body>
    
{% endblock %}
