.slot{
    padding: 12px;
    text-align: center;
}

.canvas{
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}


.chart{
    width: 400px; 
    height: auto;
    /* margin: -20px; */
    background-color: rgb(219, 255, 239);
}

.table{
    width: 100%;
}

.container {
    height: 300px;
    width: auto;
    display:flex;
}

.table{
    margin: auto;
    width: auto;
}

.cornerCanvas {
    border-radius: 25px;
    height: auto;  
    background: whitesmoke;
    margin: 10px;
    width: auto;
    box-shadow: 2px 2px 8px #3db48bc2;
    text-align: center;
}
