.body{
    background-color: rgb(219, 255, 239);
}

.block{
    display: inline-block;
}

.title{
    font-family: 'Sacramento'; 
    font-size: 80px;
}

.subtitle{
    text-decoration: underline;
}

.canvas{
    width: auto;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: transparent;
}

.table{
    margin: 0 auto;
}

.slot{
    padding: 40px;
    text-align: center;
}

.image{
    height: 200px;
    object-fit: contain;
}

.btn{
    padding: 8px 60px; 
    text-align: center;
    margin: 15px;
    cursor: pointer;
    border-width: 0px;
    background: #088659;
    border-radius: 50px;  
    font-size: large;
    color: white;
    box-shadow: 2px 2px 8px #3db48bc2;    
}

.btn:hover{
    background: #3f3cf1d0;
}